/* menú hamburguesa */
.main-hamburger {
  position: absolute;
  top: 35px;
  right: 28px;
  height: 2px;
  width: 24px;
  background: #d0d0d0;
}
.main-hamburger::before, .main-hamburger::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 28px;
  display: block;
  background: #d0d0d0;
}
.main-hamburger::before {
  top: -8px;
}
.main-hamburger::after {
  top: 8px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}
body{
  width: 100%;
}
header{
    background: url("../assets/imgs/fondo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
nav{
  background-color: rgba(255,255,255,0.3);
  color: #FFF;
  padding: 14px;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: #FFF;
}
.navbar:hover{
  text-shadow: -3px -3px 2px skyblue, 3px 3px 2px skyblue, -3px 3px 2px skyblue, 3px -3px 2px skyblue;
   color: #fff;
}
.nav-right{
  float: right;
  padding-top: 10px;
  font-size: 1.2em;
}
.nav-left {
  font-size: 2em;
  float: left;
  padding-left: 35px;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
  padding-right: 10px;
}
.text-center{
  text-align: center;
}
.inline-block{
  display: inline-block;
}
.overlay{
  padding: 10em 0;
  z-index: 800;
  color: #FFF;
}
.galaxy-line{
  height: 20px;
  background-image: url('../assets/imgs/galaxy.jpg');
}
.box{
  width: 50%;
}
.info-box{
  color: #393939;
  padding: 2rem 2rem 0 2rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.info{
  align-self: center;
  font-size: 16px;
  display:inline-block;
	vertical-align:middle;
  line-height: 1.5;
  text-align: center;
}
figure{
  display: inline-flex;
}
img{
  width: -webkit-fill-available;
  height: 14rem;
}
footer{
  background-image: url('../assets/imgs/galaxy.jpg');
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
}
.view-mobile {
  display: block;
}

.view-desktop {
  display: none;
}
